.container {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.PageTitle {
  margin-bottom: 10vh;
}

.NavBtn {
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 5px;
  font-size: 17px;
}

.counterSpan {
  font-size: 20px;
}

.counterContainer {
  display: flex;
  justify-content: center;
}